* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Epilogue", sans-serif;
}




html {
    scroll-behavior: smooth;

}



html.dark {
    color: var(--font-color1);
}

.ff1 {
    font-family: "Epilogue", sans-serif !important;
}

.ff2 {
    font-family: "Inter", sans-serif !important;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.acenter {
    display: flex;
    align-items: center;
}

.jcenter {
    display: flex;
    justify-content: center;
}

.ajcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.jbtw {
    display: flex;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
}

.none {
    display: none !important;
}

.container {
    width: 1080px;
    padding: 0px 20px;
}

.container.spc {
    padding-top: 50px;
    padding-bottom: 40px;
}

.f1 {
    display: flex;
    flex: 1;
}

.f2 {
    display: flex;
    flex: 2;
}

.f3 {
    display: flex;
    flex: 3;
}

.f4 {
    display: flex;
    flex: 4;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Patterns colors */
:root {
    --color-1: #2bd984;
    --color-2: #171c22;
    --color-3: #20272f;
    --font-color1: #fff;
    --font-color2: #e2e9ef;
}

/* animações */
@keyframes headline {
    0% {
        width: 0%;
    }

    15% {
        width: 0%;
    }

    50% {
        width: 70%;
    }

    90% {
        width: 100%;
    }

    100% {
        width: 100%;
    }
}

/* fim animações */
.bg-1 {
    background-color: var(--color-1) !important;
}

.bg-2 {
    background-color: var(--color-2) !important;
}

.bg-3 {
    background-color: var(--color-3) !important;
}

.cor-1 {
    color: var(--color-1) !important;
}

.cor-2 {
    color: var(--color-2) !important;
}

.cor-3 {
    color: var(--color-3) !important;
}

.cor-f1 {
    color: var(--font-color1) !important;
}

.cor-f2 {
    color: var(--font-color2) !important;
}

.font-f1 {
    font-family: var(--family1);
}

.font-f2 {
    font-family: var(--family2);
}

/* button */
.btn {
    display: inline-block;
    margin: 20px 0px;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 12px;
    padding: 15px 25px;
    font-weight: 500;
    letter-spacing: 1.5px;
    width: fit-content;
}

.container_menu {
    height: 80px;
    margin-bottom: -80px;
}

header .container {
    width: 100%;
    max-width: 1300px;
    z-index: 10;
}

.container_menu img {
    width: 160px;
    margin-right: 50px;
}

.container_menu ul {
    list-style: none;
    display: flex;
    transition: all 0.4s ease-in-out;
}

.container_menu ul.active {
    display: block !important;
}

.container_menu ul li {
    padding: 5px 20px;
    position: relative;
    line-height: 30px;
    text-shadow: 0px 5px 15px var(--color-2);
}

.container_menu ul li:hover {
    color: var(--font-color1);
    cursor: pointer;
}

.container_menu ul li::after {
    content: " ";
    height: 3px;
    background-color: var(--color-1);
    width: 0%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: 0.3s ease-in-out;
}

.container_menu ul li:hover::after {
    width: 100%;
}

.menuMobile {
    display: none;
}

/* banner */

#banner {
    background-image: url("../img/banner-dark.png");
    background-position: bottom;
    background-size: cover;
    height: 100vh;
}

#banner .headline {
    min-width: 305px;
}

.headline h3 {
    font-weight: 300;
    text-transform: uppercase;
}

.headline h1 {
    margin-top: 10px;
    font-size: 55px;
    margin-bottom: 25px;
}

.headline h5 {
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 15px;
}

.headline span {
    position: relative;
}

.headline span::after {
    content: " ";
    background-color: var(--color-1);
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 5px;
    width: 100%;
    opacity: 0.4;
    border-radius: 5px;
    animation: headline 5s infinite alternate;
}

.divider_svg {
    width: 100%;
    height: 200px;
}

.myphoto {
    width: 300px;
}

.menu_configs {
    width: 300px;
}

.menu_configs svg {
    stroke-width: 1px;
    padding: 5px;
    width: 40px;
    height: 40px;
    margin: 0px 10px;
    border-radius: 50px;
}

.menu_configs path {
    color: var(--color-2);
}

#about .about {
    min-width: 340px;
}

/* widget */
.widget_title h3 {
    color: var(--color-1);
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.widget_title h4 {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
}

.widget_title h5 {
    color: var(--font-color2);
    letter-spacing: 2px;
    font-size: 10px;
    font-weight: 300;
    text-transform: uppercase;
}

.widget_title p {
    font-weight: 300;
    line-height: 20px;
    font-size: 12px;
    color: var(--font-color2);
    margin-bottom: 15px;
}

/* fim widget */

.download_cv {
    margin-left: 15px;
    border: 2px solid rgba(255, 255, 255, 0.492);
}

.services_itens {
    width: 100%;
}

.services_itens .item {
    display: flex;
    flex: 1;
    min-width: 220px;
    background-color: var(--color-2);
    margin: 5px 10px;
    padding: 35px 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 41px #00000075;
}

.services_itens h3 {
    font-size: 25px;
}

#about {
    padding-bottom: 200px;
}

#services .container {
    margin-top: -250px;
}

.services_itens path {
    stroke-width: 1px;
    color: var(--color-1);
}

.services_itens .item:hover path {
    color: var(--font-color1);
}

.services_itens .item:hover {
    background-color: #27be75;
}

.services_itens svg {
    margin-bottom: 15px;
    width: 60px;
    height: 60px;
}

.space_controlers {
    width: 100%;
}

.space_controlers .filter {
    padding: 0px 30px;
    border-radius: 5px;
    margin: 10px 0px;
}

.space_controlers .filter h5 {
    margin: 0px 5px;
    padding: 0px 10px;
    position: relative;
    line-height: 60px;
    cursor: pointer;
}

.space_controlers .filter h5.active {
    color: var(--color-1);
}

.space_controlers .filter h5.active::after {
    content: " ";
    height: 3px;
    background-color: var(--color-1);
    width: 0%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.space_controlers .filter h5:hover::after {
    content: " ";
    height: 3px;
    background-color: var(--color-1);
    width: 0%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: 0.3s ease-in-out;
    width: 100%;
}

.controler {
    justify-content: flex-end;
}

.controler svg {
    width: 30px;
}

.controler div {
    width: 55px;
    height: 55px;
    margin: 0px 5px;
    cursor: pointer;
    border-radius: 5px;
}

.controler div:hover path {
    color: var(--color-1);
}

.controler div.active {
    background-color: var(--color-3);
}



.galery {
    width: calc(100vw - 60px);
    max-width: 1400px;
    margin: 5px 0px;
    padding-top: 20px;
}

.galery .item_galery {
    margin: 10px 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--color-3);
    min-width: 350px;
    rotate: x 0deg;
    transition: all 0.3s ease-in-out;

}

.galery .item_galery.rotate {
    rotate: x 90deg;
}

.item_galery img {
    border-radius: 5px;
    height: 250px;
    object-fit: cover;
    width: 100%;
    background-position: center;
}

.galery h4 {
    margin: 10px 0px;
}

.galery p {
    font-size: 12px;
    color: var(--font-color2);
}

.galery .btn {
    margin: 0;
    font-weight: 300;
    font-size: 10px !important;
    padding: 10px 20px;
    height: fit-content;
    cursor: pointer;
    margin-left: 5px;
}

.space_language {
    width: 100%;
}

.space_language .item {
    width: 100px;
    margin: 20px 20px;
}

.space_language .item svg {
    width: 60px;
}

.space_language .item h5 {
    margin-bottom: 10px;
    font-weight: 300;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.space_language .item:hover h5 {
    opacity: 1;
}

.space_language .progress {
    margin-top: 20px;
    width: 100%;
    height: 7px;
    border-radius: 50px;
    background-color: var(--color-2);
}

.space_language .percent {
    height: 100%;
    border-radius: 50px;
    width: 10%;
    background-color: var(--color-1);
}

#contact .widget_title h5 {}

#contact .widget_title h3 {
    color: var(--color-2);
}

.space_contact {
    width: 100%;
    margin-top: 50px;
}

.space_contact form {
    padding: 0px 20px 00px 20px;
    margin-right: 20px;
}

.space_contact input,
.space_contact textarea {
    background-color: transparent;
    border: none;
    margin: 15px 0px;
    color: var(--color-2);
    border-bottom: 1px solid var(--color-2);
    padding: 5px 10px 15px 15px;
    font-weight: 600;
    width: 100%;
}

.space_contact input::placeholder,
.space_contact textarea::placeholder {
    color: var(--color-3);
    font-weight: 300;
}

.space_contact input:focus-visible,
.space_contact textarea:focus-visible {
    outline: none;
}

.space_contact .btn {
    background-color: #171c22 !important;
    color: var(--color-1);
    padding: 15px 40px;
    width: fit-content;
    cursor: pointer;
}

.space_contact textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 30px;
    max-height: 200px;
}

.space_contact .forms h2 {
    color: var(--color-3);
    margin-left: 20px;
}

.space_contact .card {
    background-color: var(--color-2);
    border-radius: 10px;
    padding: 0px 20px 0px 50px;
    margin-left: 50px;
    min-width: 338px;
}

.space_contact .card .row {
    margin: 10px 0px;
}

.space_contact .card .svg {
    background-color: #27be7545;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 10px;
}

.space_contact .svg svg {
    width: 25px;
}

.space_contact .svg path {
    color: var(--color-1);
}

.space_contact .card p {
    font-weight: 300;
}

footer .container {
    border-top: 1px solid var(--color-3);
}

footer .social svg {
    width: 30px;
    margin: 0px 5px;
    stroke-width: 1.3px;
}

footer path,
footer p {
    color: var(--color-3);
}

.menuMobile {
    display: none;
}

@media (max-width: 1050px) {
    .menu_configs {
        display: none;
    }
}

@media (max-width:900px) {
    .space_controlers {
        flex-direction: column;
    }


    .container_menu ul {
        display: none;
        position: absolute;
        right: 0px;
        top: 0px;
        background-color: var(--color-1);
        width: 100%;
        height: auto;
        border-end-start-radius: 10px;
        box-shadow: -5px 5px 20px var(--color-3);
        padding: 80px 20px 20px 20px;
    }

    .container_menu ul li {
        line-height: 45px;
        text-shadow: none;
        color: var(--font-color1);
    }

    .menuMobile {
        display: flex !important;
    }

    header .menu {
        justify-content: flex-end;
    }

}



@media (max-width: 750px) {

    .space_contact form {
        padding: 0px 5px 0px 20px;
        margin-right: 5px;
        margin-bottom: 30px;
    }

    .space_contact .card {
        margin: 0px;
        padding: 50px;
    }

    .space_contact {
        max-width: 400px;
    }

    .myphoto {
        display: none;
    }
}

/* menuMobile */
.menuMobile {
    border-radius: 5px;
    width: 45px;
    height: 45px;
    padding: 5px 7px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    z-index: 10;
    cursor: pointer;
}

.menuMobile .line {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: #fff;
}

.menuMobile.active {
    justify-content: center;
}

.menuMobile.active .line1 {
    rotate: 45deg;
    margin-bottom: -1.5px;
}

.menuMobile.active .line3 {
    rotate: -45deg;
    margin-top: -1.5px;
}

.menuMobile.active .line2 {
    display: none;
}

/* Fim Mobile */



/* inicio MODAL */
#modal {
    position: fixed;
    z-index: 88;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: #20272fb7;
    padding: 32px;
}


.modal_project {
    position: relative;
    padding: 32px;
    border-radius: 10px;
    background-color: var(--color-2);
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.548);
    max-width: 900px;
    width: 100%;
    height: 100%;
}

.modal_close {
    position: absolute;
    z-index: 99;
    top: 24px;
    right: 16px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.modal_close div {
    height: 3px;
    width: 100%;
    background-color: var(--font-color1);
    border-radius: 3px;
}

.modal_close .line1 {
    rotate: -45deg;
    margin-bottom: -1.5px;
}

.modal_close .line2 {
    rotate: 45deg;
    margin-top: -1.5px;
}


.modal_galery {
    width: 50%;
    margin-right: 16px;
}

.modal_galery .img_banner img {
    border-radius: 5px;
    height: 250px;
    object-fit: cover;
    width: 100%;
    background-position: center;
}

.modal_galery .img_outer img {
    border-radius: 5px;
    height: 80px;
    margin: 5px;
    object-fit: cover;
    background-position: center;
    filter: grayscale(50%);
    cursor: pointer;
}

.modal_galery .img_outer img:hover {
    filter: none;
}

.modal_space {
    padding-top: 32px;
    margin-left: 16px;
}

.modal_information {
    margin-bottom: 16px;
}

.modal_information h3 {
    font-size: 14px;
    font-weight: 100;
    margin-top: 12px;
    text-transform: uppercase;
}

.modal_information h2 {
    font-weight: 300;
    font-size: 16px;
    margin-top: 12px;
    line-height: 24px;
}


.modal_languages {
    width: 100%;
    border-radius: 20px;

}

.modal_languages .item {
    margin: 5px;
}

.modal_languages .item img {
    width: 40px;
}

.modal_links p {
    font-weight: 200;
    margin-right: 8px;
    font-size: 14px;
}

.modal_links div {
    padding: 8px 16px;
    background-color: var(--color-3);
    border-radius: 5px;
    margin-top: 16px;
    margin-right: 8px;
    margin-left: 8px;
}

.modal_links div:hover {
    background-color: var(--color-1);
}

.modal_links {

    border-radius: 20px;
    padding-bottom: 16px;
}


/* fim MODAL */