*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}

html.dark{
    color: var(--font-color1);
}
.ff1{
    font-family: 'Epilogue', sans-serif !important;
}
.ff2{
    font-family: 'Inter', sans-serif !important;
}
.flex{
    display: flex;
}
.wrap{
   flex-wrap: wrap;
}
.acenter{
    display: flex;
    align-items: center;
}
.jcenter{
    display: flex;
    justify-content: center;
}
.ajcenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.jbtw{
    display: flex;
    justify-content: space-between;
}
.column{
    display: flex;
    flex-direction: column;
}
.none{
    display: none !important;
}
.container{
    width: 1100px;
    padding: 0px 15px;
}
.f1{
    flex: 1;
}
.f2{
    flex: 2;
}
.f3{
    flex: 3;
}
.f4{
    flex: 4;
}
a{
    text-decoration: none;
    color: inherit;
}


/* Patterns colors */
:root{
    --color-1: #2BD984;
    --color-2: #171C22;
    --color-3: #20272F;
    --font-color1: #fff;
    --font-color2: #E2E9EF;
}
/* animações */
@keyframes headline{
    0%{width: 0%;}
    15%{width: 0%;}
    50%{width: 70%;}
    90%{width: 100%;}
    100%{width: 100%;}

}

/* fim animações */
.bg-1{
    background-color: var(--color-1);
}
.bg-2{
    background-color: var(--color-2);
}
.bg-3{
    background-color: var(--color-3);
}

.cor-1{
    color: var(--color-1);
}
.cor-2{
    color: var(--color-2);
}
.cor-3{
    color: var(--color-3);
}
.cor-f1{
    color: var(--font-color1)
}
.cor-f2{
    color: var(--font-color2)
}

.font-f1{
    font-family: var(--family1);
}
.font-f2{
    font-family: var(--family2);
}

/* button */
.btn{
    display: inline-block;
    margin: 20px 0px;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 12px;
    padding: 15px 25px;
    font-weight: 500;
    letter-spacing: 1.5px;
    width: fit-content;
}



.container_menu{
    height: 80px;
    margin-bottom: -80px;
}

.container_menu img{
    width: 160px;
}

.container_menu ul{
    list-style: none;
    display: flex;
}
.container_menu ul li{
    padding: 5px 20px;
    position: relative;
    line-height: 30px;
}
.container_menu ul li:hover{
    color: var(--font-color1);
    cursor: pointer;
}

.container_menu ul li::after{
    content: " ";
    height: 3px;
    background-color: var(--color-1);
    width: 0%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: .3s ease-in-out;
}
.container_menu ul li:hover::after{
    width: 100%;
}




/* banner */

#banner{
    background-image: url('../img/banner-dark.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
}

#banner .headline{

}
#banner .headbanner{
  
    
}

.headline h3{
    font-weight: 300;
    text-transform: uppercase;
}
.headline h1{
    margin-top: 10px;
    font-size: 55px;
    margin-bottom: 25px;
    
}
.headline h5{
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 15px;
}
.headline span{
    position: relative;
}
.headline span::after{
    content: " ";
    background-color: var(--color-1);
    position:absolute;
    bottom: 0px;
    left: 0px;
    height: 5px;
    width: 100%;
    opacity: 0.4;
    border-radius: 5px;
    animation: headline 5s infinite alternate;
}

.divider_svg{
    width: 100%;
    height: 200px;
}